@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/roboto_bold.ttf") format("truetype");
}

.experience_container {
  background-color: #d4e0cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
}

.XP_block {
  background-color: white;
  margin-top: 4%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 5%;
  border-radius: 8px;
  border: solid 4px #dbc788;
  min-height: 100%;
  width: 95%;
}

h1 {
  font-family: "YesevaOne", cursive;
  text-align: center;
  color: #34788f;
  font-size: 25px;
  text-transform: uppercase;
}

h2.jobs {
  text-transform: uppercase;
  font-size: 105%;
  margin-top: 10%;
  color: #34788f;
  font-family: "Roboto bold", sans-serif;
}

h3 {
  font-size: 85%;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

img.illustration_triceratops {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px solid #dbc788;
}

img#illustration_triceratops01 {
  transform: scaleX(-1);
}

ul {
  list-style: none;
  font-family: "Roboto bold", sans-serif;
  text-transform: uppercase;
  color: #34788f;
}

li {
  font-family: "Roboto", sans-serif;
  text-transform: none;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
}

.XP_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.XP_link p {
  text-decoration: none;
  color: #113f59;
}

img.XP_icon {
  width: 60px;
  background: #113f59;
  border: solid 2px #dbc788;
  border-radius: 20%;
  padding: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 8%;
  transition: transform 0.3s ease;
}

.XP_icon:hover {
  transform: scale(1.1);
}

.CV_button {
  text-align: center;

  bottom: 1em;
  top: 1em;

  justify-content: center;
  align-items: center;
}

.cv-link {
  text-decoration: none;
  color: #113f59;
}

#see_CV {
  margin-top: 1%;
}

.skills_div {
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #113f59;
  height: 16vh;
  border-radius: 7px;
  border: 2px solid #34788f;
}

.skills_wheel {
  text-align: center;
  margin-bottom: 8px;
}

#ma-recherche {
  background-color: #113f59;
  border-color: #dbc788;
  color: #dadbdd;
}

#ma-recherche.XP_block h1 {
  color: #dbc788;
}

#ma-recherche.XP_block strong.description_bold {
  color: #dbc788;
}

#ma-recherche.XP_block img {
  border: 2px solid #dbc788;
}

#skills {
  background-color: #fff4cd;
}

.skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

#skills.XP_block h1 {
  color: #113f59;
  margin-bottom: 5px;
}

#skills.XP_block ul {
  color: #dbc788;
  padding-left: 20px;
}

h4 {
  margin-top: 7px;
  margin-bottom: 10px;
}

img.illustration_skills {
  width: 30%;
}

.fonctions {
  margin-bottom: 5%;
}
.scroll-to-top {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-color: transparent;
  background-color: transparent;
  display: none; /* caché par défaut */
  transform: rotate(90deg);
  width: 40px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.scroll-to-top:hover {
  transform: scale(1.1) rotate(90deg);
}

img#icon_up {
  width: 40px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .scroll-to-top {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .experience_container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 2rem;
    padding-top: 10%;
  }

  .XP_block {
    width: 100%;
  }

  #qui-suis-je {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
    margin-top: 0;
  }

  #ma-recherche {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skills {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    margin-top: 0;
  }

  #experiences {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  h1 {
    margin-bottom: 10%;
  }

  img.illustration_triceratops {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  h2.jobs {
    margin-top: 0;
  }
}
