@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/roboto_bold.ttf") format("truetype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}

section.projects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 10%;
  overflow-x: auto;
  position: relative;
}

.project_informations {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-left: 5em;
  justify-content: center;
}

#projects_title {
  transform: rotate(-90deg);
  transform-origin: left top;
  margin-top: 8em;
  text-transform: uppercase;
  color: #113f59;
  font-size: xxx-large;
  font-family: "YesevaOne", cursive;
  position: fixed;
  z-index: 1000;
  left: 60px;
}

h2.project_title {
  color: #113f59;
  font-family: "YesevaOne", cursive;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

li.project_card {
  display: flex;
  margin-top: 1.5em;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 460px;
  height: 600px;
  border-radius: 18px;
  border: 3px solid #113f59;
  background: #dadbdd;
  padding: 1.5em;
  margin-bottom: 1em;
  position: relative;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
}
li.project_card:hover {
  transform: scale(1.03);
  background-color: #d4e0cc;
  border-color: #34788f;
}

.project_card a {
  text-decoration: none;
  color: inherit;
}

.project_card a:visited {
  color: inherit;
}

img.project_picture {
  width: 100%;
  border-radius: 2%;
}

div.card_informations {
  font-family: "Roboto", sans-serif;
  padding-top: 1em;
  flex-grow: 1;
  overflow: hidden;
}

.item_bold {
  font-family: "Roboto Bold", sans-serif;
  color: #34788f;
}

p.card_item {
  padding-bottom: 1em;
}

div.action_buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

button.action_button {
  font-family: "Roboto Bold", sans-serif;
  text-transform: uppercase;
  color: #113f59;
  width: 124px;
  height: 34px;
  border-radius: 8px;
  border: 2px solid #113f59;
  background: #dbc788;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

button.action_button:hover {
  color: #dbc788;
  background: #113f59;
  border: 2px solid #dbc788;
}

img#add_project {
  width: 12%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  transition: transform 0.3s ease-in-out;
}
button#add_button:hover img#add_project {
  transform: scale(1.2);
}

button#add_button:hover .add-button-text {
  opacity: 1;
  transform: translateX(50%) translateY(99px);
}

button#add_button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  align-items: start;
  margin-left: 30px;
  margin-right: -30em;
  position: fixed;
}

span.add-button-text {
  display: none;
}

@media screen and (max-width: 768px) {
  #projects_title {
    transform: rotate(0deg);
    transform-origin: initial;
    margin-top: 0;
    margin-left: 0;
    font-size: 2em;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 0;
    position: relative;
    left: 0;
    z-index: 0;
  }

  section.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 22%;
  }

  h1#project_title {
    padding-bottom: 1em;
  }

  .project_informations {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  li.project_card {
    width: 367px;
    height: 540px;
  }
  .add-button-text {
    font-family: "Roboto bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #34788f;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  button#add_button {
    margin-bottom: 0;
    align-items: center;
    margin-left: 0;
    position: relative;
    margin-right: 0;
  }

  button#add_button:hover .add-button-text {
    opacity: 1;
    transform: translateX(-50%) translateY(99px);
  }

  li.project_card:hover {
    transform: none;
  }
}
