@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}

h1#edit_project_title {
  color: #113f59;
  text-align: center;
  padding-bottom: 5%;
  text-transform: uppercase;
  font-family: "Yesevaone", cursive;
}

form.edit_form {
  width: 100%;
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: #dbc788;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

label.updateForm-fields {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

input.edit-fields {
  border: #34788f 1px solid;
  font-family: "Roboto", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: #34788f;
  border-radius: 5px;
  margin-bottom: 3%;
  transition: border-color 0.3s ease;
}

textarea.edit-fields {
  resize: none;
  height: 8em;
  border: #34788f 1px solid;
  font-family: "Roboto", sans-serif;
  color: #34788f;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

button.update-project-button {
  font-family: "Roboto Bold", sans-serif;
  text-transform: uppercase;
  color: #dbc788;
  width: 124px;
  height: 34px;
  border-radius: 8px;
  border: 2px solid #dbc788;
  background: #113f59;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  margin-top: 13%;
}

button.update-project-button:hover {
  color: #113f59;
  background: #dbc788;
  border: 2px solid #113f59;
}

div.edit-button-div {
  text-align: center;
}
